#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define SYM  1

/ {
    behaviors {
        bt0_SorC: bt0_SorC {
            compatible = "zmk,behavior-hold-tap";
            label = "BT0_SEL_OR_CLR";
            #binding-cells = <2>;
            tapping-term-ms = <3000>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&bt0_hold>, <&bt0_tap>;
        };

        bt1_SorC: bt1_SorC {
            compatible = "zmk,behavior-hold-tap";
            label = "BT1_SEL_OR_CLR";
            #binding-cells = <2>;
            tapping-term-ms = <3000>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&bt1_hold>, <&bt1_tap>;
        };

        bt2_SorC: bt2_SorC {
            compatible = "zmk,behavior-hold-tap";
            label = "BT2_SEL_OR_CLR";
            #binding-cells = <2>;
            tapping-term-ms = <3000>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&bt2_hold>, <&bt2_tap>;
        };
    };

    macros {
        bt0_hold: bt0_hold {
            compatible = "zmk,behavior-macro";
            label = "BT0_CLR_AND_SEL";
            #binding-cells = <0>;
            bindings =
                <&macro_tap &bt BT_CLR>,   /* 프로파일 0 클리어 */
                <&macro_tap &bt BT_SEL 0>; /* 프로파일 0 선택 */
        };

        bt0_tap: bt0_tap {
            compatible = "zmk,behavior-macro";
            label = "BT0_SEL";
            #binding-cells = <0>;
            bindings =
                <&macro_tap &bt BT_SEL 0>;
        };

        bt1_hold: bt1_hold {
            compatible = "zmk,behavior-macro";
            label = "BT1_CLR_AND_SEL";
            #binding-cells = <0>;
            bindings =
                <&macro_tap &bt BT_CLR>,
                <&macro_tap &bt BT_SEL 1>;
        };

        bt1_tap: bt1_tap {
            compatible = "zmk,behavior-macro";
            label = "BT1_SEL";
            #binding-cells = <0>;
            bindings =
                <&macro_tap &bt BT_SEL 1>;
        };

        bt2_hold: bt2_hold {
            compatible = "zmk,behavior-macro";
            label = "BT2_CLR_AND_SEL";
            #binding-cells = <0>;
            bindings =
                <&macro_tap &bt BT_CLR>,
                <&macro_tap &bt BT_SEL 2>;
        };

        bt2_tap: bt2_tap {
            compatible = "zmk,behavior-macro";
            label = "BT2_SEL";
            #binding-cells = <0>;
            bindings =
                <&macro_tap &bt BT_SEL 2>;
        };
    };

        keymap {
                compatible = "zmk,keymap";
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

                base_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "BASE"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓                           ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓━━━━━━━━━━━┓
// ┃     `   ~ ┃     1   ! ┃     2   @ ┃     3   # ┃     4   $ ┃     5   % ┃                           ┃     6   ^ ┃     7   & ┃     8   * ┃     9   ( ┃    10   ) ┃ BackSpace ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                           ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫━━━━━━━━━━━┫
// ┃    Tab    ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃                           ┃     Y     ┃     U     ┃     O     ┃     P     ┃     [   { ┃     ]   } ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                           ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃ CapsLock  ┃     A     ┃     S     ┃     D     ┃     F     ┃     G     ┃                           ┃     H     ┃     J     ┃     K     ┃     L     ┃     ;   : ┃   Enter   ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓   ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃   Shift   ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃    Del    ┃   ┃     B     ┃     N     ┃     M     ┃     ,   < ┃     .   > ┃     /   ? ┃   Shift   ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛   ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
//                         ┃   Ctrl    ┃    Alt    ┃   Space   ┃    Fn     ┃                           ┃    Win    ┃   Space   ┃    Alt    ┃   Ctrl    ┃
//                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛                           ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷            ╷            ╷            ╷            ╷            ╷            ╷   ╷            ╷            ╷            ╷            ╷            ╷            ╷

    &kp SQT      &kp N1       &kp N2       &kp N3       &kp N1       &kp N5           &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &kp BSPC
    &kp TAB      &kp Q        &kp W        &kp E        &kp R        &kp T            &kp Y        &kp U        &kp O        &kp P        &kp LBKT     &kp RBKT    
    &kp CAPS     &kp A        &kp S        &kp D        &kp F        &kp G            &kp H        &kp J        &kp K        &kp L        &kp SEMI     &kp RET
    &kp LSHFT    &kp Z        &kp X        &kp C        &kp V        &kp B            &kp N        &kp M        &kp COMMA    &kp DOT      &kp FSLH     &kp RSHFT
                 &kp LCTRL    &kp LALT     &kp SPACE    &mo SYM      &kp DEL          &kp B        &kp LGUI     &kp SPACE    &kp RALT     &kp RCTRL
                        >;
                };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

                symbol_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "SYM"                               ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓                           ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓━━━━━━━━━━━┓
// ┃    ESC    ┃    F1     ┃    F2     ┃    F3     ┃    F4     ┃    F5     ┃                           ┃    F6     ┃    F7     ┃    F8     ┃    F9     ┃   F10     ┃PrintScreen┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                           ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫━━━━━━━━━━━┫
// ┃    ---    ┃    BT1    ┃    BT2    ┃    BT3    ┃    ---    ┃   PgUp    ┃                           ┃    ---    ┃    ---    ┃    ---    ┃    ---    ┃    ---    ┃     \   | ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                           ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃    ---    ┃    ---    ┃    ---    ┃    ---    ┃    ---    ┃   DgDn    ┃                           ┃    ---    ┃    ---    ┃    Up     ┃    ---    ┃     "     ┃    End    ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓   ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃    ---    ┃    ---    ┃    ---    ┃    ---    ┃    ---    ┃    ---    ┃    Ins    ┃   ┃   Home    ┃    ---    ┃   Left    ┃   Down    ┃   Right   ┃     -   _ ┃     =   + ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛   ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
//                         ┃    ---    ┃    ---    ┃    ---    ┃    Fn     ┃                           ┃    ---    ┃    ---    ┃    ---    ┃    ---    ┃
//                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛                           ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷            ╷            ╷            ╷            ╷            ╷            ╷   ╷            ╷            ╷            ╷            ╷            ╷            ╷

    &kp ESC      &kp F1       &kp F2       &kp F3       &kp F4       &kp F5           &kp F6       &kp F7       &kp F8       &kp F9       &kp F0       &kp PSCRN
    &none        &bt0_SorC    &bt2_SorC    &bt2_SorC    &none        &kp PG_UP        &none        &none        &none        &none        &none        &kp RBKT    
    &none        &none        &none        &none        &none        &kp PG_DN        &none        &none        &kp UP       &none        &kp APOS     &kp RET
    &none        &none        &none        &none        &none        &none            &none        &kp LEFT     &kp DOWN     &kp RIGHT    &kp MINUS    &kp EQUAL
                 &none        &none        &none        &none        &kp INS          &kp HOME     &none        &none        &none        &none
                        >;
                };
        };
};
